html {
    background-color: rgba(33, 120, 142, 0.4);
    background-image: url(./wallpaper.jpg);
    background-blend-mode: color-burn;
    background-size: 100% 100%;
    --color1: black;
    --color2: rgba(255, 255, 255, 0.75);
    font-family:Tahoma;
}


.button {
    background: no-repeat;
    background-color: rgba(150, 150, 150, 0.5);
    background-image: url(./wallpaper.jpg);
    background-blend-mode: color-burn;
    background-position: 0%;
    background-size: 100%;
    transform: scaleX(-1) scaleY(-1);
    box-shadow: -8px -8px 16px var(--color1);
    text-shadow: 1.5px 1px black;
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    width: 12%;
    padding: 2%;
    border-radius: 8px;
    color: var(--color2);
}

.buttonText {
    transform: scaleX(-1) scaleY(-1);
}

.container {
    background-color: rgba(150, 150, 150, 0.5);
    background-image: url(./wallpaper.jpg);
    background-blend-mode: color-burn;
    background-position: 0%;
    background-size: 100%;
    transform: scaleX(-1);
    box-shadow: -8px 8px 32px var(--color1);
    text-shadow: 1.5px 1px black;
    position: absolute;
    padding: 1%;
    border-radius: 8px;
    font-size: medium;
    color: var(--color2);
}

.data {
    transform: scaleX(-1);
}

#dataContainer {
    left: 16px;
    bottom: 16px;
    padding: 2%;
}

#txHashContainer {
    right: 16px;
    top: 16px;
    
}

